[user]
	name = Ken Chida
	email = kchida@google.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = "/usr/bin/opendiff "
	trustExitCode = true
	keepBackup = false
[push]
	default = simple
[core]
	excludesfile = /Users/kenc/.gitignore_global
